  <footer class="footer">
    <div class="row">
      <span class="footer-logo">
        SkyVoyager
      </span>
      <span>
        Copyright © 2024 CryptoConvert
      </span>
      <span>
        All rights reserved
      </span>
    </div>
    <div class="row">
      <span class="title">
        Company
      </span>
      <span routerLink="/home">
        Home
      </span>
            <span>
        About SkyVoyager
      </span>
            <span routerLink="/news">
        News
      </span>
      <span>
        Terms and Conditions
      </span>
      <span>
        Privacy Policy
      </span>
    </div>
    <div class="row">
      <span class="title">
        Jobs
      </span>
      <span>
        For Candidates
      </span>
            <span>
        For Employers
      </span>
            <span>
        For Headhunters
      </span>
    </div>
  </footer>
