.header-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  color: #000000;
  padding: 0 50px;
}

.logo img {
  width: 100px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span{
    font-size: 30px;
    font-weight: 500;
    font-family: "Bona Nova SC", serif;
  }
}

.nav-links {
  display: flex;
  img {
    width: 40px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    cursor: pointer;
  }

  img:hover {
    transform: scale(1.2);
  }
    img:active {
    transform: scale(0.8);
    filter: brightness(0.8);
  }
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.nav-links span, .nav-center span {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.nav-links span::after, .nav-center span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #151414;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-links span:hover::after, .nav-center span:hover::after {
  visibility: visible;
  width: 100%;
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  z-index: 999;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 680px) {
  .header-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0969FB;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 998;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links span {
    font-size: 30px;
    margin: 15px 0;
  }

  .menu-icon {
    display: block;
  }
}
